<div class="container-fluid ps-wrapper">
	{%- section 'page-hero'  -%}

</div>
<div class="box">
  <div class="wrapper">
		<div class="grid grid-spacer page_hero">
			{{ page.content }}
		</div>
  </div>
</div>
{%- section 'featured-products' -%}
{%- section 'featured-columns'  -%}
{%- section 'custom-html'  -%}
{%- section 'home-tabs'  -%}
